@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-main-ui {
    
    &.main-enter-active,
    &.main-leave-active {
        @include transition(.4s);
    }


    &.main-leave-to,
    &.main-enter {
        opacity: 0;
	}
	@include displayBox(horizontal);
	
	.zmiti-title{
		height:70vh;

		margin-top: -30px;
		
		text-align: center;
		img{
			height: 100%;
			width: auto;
		}
		@include pos(r);
		canvas{
			@include pos(a);
			top: .5rem;
			left: 0;;
		}

		&>div{
			color:#fff;
			margin-top: -.8rem;
			margin-left: .1rem;
			letter-spacing: .3rem;
			margin-left:.25rem;
		}

		&>span{
			@include pos(a);
			width: 1.3rem;
			height: 1.3rem;
			left: 0;
			bottom: 1rem;
			@include animation(scale 1s infinite alternate);
			z-index: 102;
		}
	}

	@-webkit-keyframes scale{
		to{
			@include transform(scale(1.08));
		}
	}
	
	.zmiti-video{
		z-index: 1000;
		overflow: hidden;
		.zmiti-pass{
			@include pos(a);
			z-index: 1021;
			width: 2rem;
			height: .7rem;
			line-height: .7rem;
			text-align: center;
			border:1px solid #fff;
			color:#fff;
			top: .5rem;
			right: .5rem;
			@include br(10px);


		}
		video{
			position: absolute;
			left: 50%;
			top: 50%;
			object-fit: cover;
			-webkit-object-fit: cover;
			@include transform(translate3d(-50%, -50%, 0) );
			z-index: 1020;
			//@include transform( scale(1.01) );
		}
	}


    @include transform3d;

    width:10rem;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #fff;


    
}
  