.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-main-ui {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
  width: 10rem;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #fff;
}

.zmiti-main-ui.main-enter-active, .zmiti-main-ui.main-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-main-ui.main-leave-to, .zmiti-main-ui.main-enter {
  opacity: 0;
}

.zmiti-main-ui .zmiti-title {
  height: 70vh;
  margin-top: -30px;
  text-align: center;
  position: relative;
}

.zmiti-main-ui .zmiti-title img {
  height: 100%;
  width: auto;
}

.zmiti-main-ui .zmiti-title canvas {
  position: absolute;
  top: .5rem;
  left: 0;
}

.zmiti-main-ui .zmiti-title > div {
  color: #fff;
  margin-top: -.8rem;
  margin-left: .1rem;
  letter-spacing: .3rem;
  margin-left: .25rem;
}

.zmiti-main-ui .zmiti-title > span {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  left: 0;
  bottom: 1rem;
  -webkit-animation: scale 1s infinite alternate;
  animation: scale 1s infinite alternate;
  z-index: 102;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
}

.zmiti-main-ui .zmiti-video {
  z-index: 1000;
  overflow: hidden;
}

.zmiti-main-ui .zmiti-video video {
  position: absolute;
  left: 50%;
  top: 50%;
  object-fit: cover;
  -webkit-object-fit: cover;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1020;
}
