@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;
@-webkit-keyframes info {
  to {
    @include transform(translateY(-30px));
  }
}

.zmiti-main-ui {

	z-index: 103;
	box-sizing: border-box;
	position: fixed !important;
	width: 100vw !important;
    
    &.main-enter-active,
    &.main-leave-active {
        @include transition(.4s);
    }


    &.main-leave-to,
    &.main-enter {
		opacity: 0;
		@include transform(translate3d(0,-120vh,0));
	}
	@include displayBox(horizontal);
	.zmiti-info{
		 width: 80px;
		height: auto;
		top: auto;
		@include pos(a);
		bottom: 11px;
		left: 50%;
		margin-left: -40px;
		@include animation(info 1.2s infinite);
	}
	.zmiti-title{
		height:70vh;

		margin-top: -30px;

		font-size:.3rem;
		
		text-align: center;
		img{
			height: 100%;
			width: auto;
			@include transform(scale(.1));
			opacity:0;
			&.active{
				opacity:1;
				@include transition(1s .2s);
				@include transform(scale(1));
			}
		}
		@include pos(r);
		canvas{
			@include pos(a);
			top: .5rem;
			left: 0;;
		}

		&>div{
			color:#fff;
			margin-top: -.8rem;
			margin-left: .1rem;
			letter-spacing: .3rem;
			margin-left:.25rem;
			@include transform(translate3d(0,1rem,0));
			opacity:0;
			&.active{
				opacity:1;
				@include transition(1s 1s);
				@include transform(translate3d(0,0,0))
			}
		}

		&>span{
			@include pos(a);
			width: 1.3rem;
			height: 1.3rem;
			left: 0;
			bottom: 1rem;
			@include animation(scale 1s infinite alternate);
			z-index: 102;
		}
	}

	@-webkit-keyframes scale{
		to{
			@include transform(scale(1.08));
		}
	}
	
	.zmiti-video{
		z-index: 1000;
		overflow: hidden;
		.zmiti-pass{
			@include pos(a);
			z-index: 1021;
			width: 2rem;
			height: .7rem;
			font-size:.45rem;
			line-height: .7rem;
			text-align: center;
			border:1px solid #fff;
			color:#fff;
			top: .5rem;
			right: .5rem;
			@include br(10px);


		}
		video{
			position: absolute;
			left: 50%;
			top: 50%;
			object-fit: cover;
			-webkit-object-fit: cover;
			@include transform(translate3d(-50%, -50%, 0) );
			z-index: 1020;
			//@include transform( scale(1.01) );
		}
	}


    @include transform3d;

    width:10rem;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #fff;


    
}
  