.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input {
  -webkit-appearance: none;
}

.zmiti-main-ui {
  z-index: -1;
  opacity: 0;
}

.zmiti-main-ui.active {
  z-index: 102;
  opacity: 1;
}

.zmiti-main-ui .zmiti-next-btn {
  width: 4rem;
  height: 40px;
  line-height: 40px;
  background: #f23426;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1025;
  bottom: 2rem;
  left: 3rem;
  border-radius: 4px;
}

.zmiti-main-ui .zmiti-next-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(242, 52, 38, 0.5);
  left: 0;
  top: 0;
}

#container, #container1, #smap {
  width: 100%;
  height: 400px;
}

#container {
  height: 100%;
  z-index: 120;
  position: absolute !important;
  left: 0;
  top: 0;
}

.zmiti-tip {
  z-index: 1213;
  background: rgba(4, 19, 42, 0.9);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.zmiti-tip img {
  display: block;
  width: 5rem;
}

.zmiti-tip .zmiti-tip-text {
  position: absolute;
  width: 3.2rem;
  left: 3.4rem;
  top: 50%;
  font-size: .4rem;
  text-align: center;
}

.zmiti-wish-C {
  width: 9rem;
  position: absolute;
  bottom: 0%;
  left: .5rem;
  height: 7.7rem;
  z-index: 1200;
  background: rgba(4, 19, 42, 0.9);
}

.zmiti-wish-C.form-enter-active, .zmiti-wish-C.form-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-wish-C.form-leave-to, .zmiti-wish-C.form-enter {
  -webkit-transform: translateY(7.8rem);
  transform: translateY(7.8rem);
}

.zmiti-wish-C img {
  width: 1rem;
}

.zmiti-wish-C .zmiti-wish-text {
  color: #fff;
  width: 5rem;
  margin: .5rem auto 0;
  font-size: .45rem;
  text-align: center;
}

.zmiti-wish-C .zmiti-input-name {
  width: 5rem;
  margin: .5rem auto 0;
}

.zmiti-wish-C .zmiti-input-name input {
  height: .8rem;
  border-radius: 4px;
  width: 100%;
  padding-left: .3rem;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(49, 144, 234, 0.4) inset;
}

.zmiti-wish-C .zmiti-wish-btns {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  margin-top: 1rem;
}

.zmiti-wish-C .zmiti-wish-btns div {
  text-align: center;
  color: #fff;
  width: 3rem;
  height: 1rem;
  line-height: 1rem;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 0.1rem;
  user-select: none;
  -webkit-user-select: none;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(1) {
  background: #3190ea;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(1) img {
  height: .45rem;
  width: auto;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(2) {
  background: #ed8324;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(2).active {
  background: #999;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(2) img {
  width: .45rem;
  min-width: 0;
}

.zmiti-wish-C .zmiti-wish-btns div img {
  margin-right: .3rem;
}

.zmiti-wish-C .zmiti-wish-btns div img.rotate {
  -webkit-animation: rotate 500ms linear;
  animation: rotate 500ms linear;
}

.zmiti-share-ui {
  z-index: 2001;
  background: rgba(4, 19, 42, 0.9);
}

.zmiti-search-C {
  width: 9.1rem;
  height: 1rem;
  background: #fff;
  position: absolute;
  z-index: 1220;
  left: .45rem;
  top: 1rem;
}

.zmiti-search-C .zmiti-input-main {
  border: 1px solid #3190ea;
  width: 100%;
  background: transparent;
  overflow: hidden;
  box-sizing: border-box;
}

.zmiti-search-C .zmiti-input-main input {
  border: none;
  background: transparent;
}

.zmiti-search-C.hide {
  z-index: 1000;
}

.zmiti-search-C div {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1rem;
  text-align: center;
  background: #3190ea;
  box-sizing: border-box;
  color: #ffF;
  line-height: 1rem;
}

.zmiti-search-C div img {
  width: .7rem;
}

.zmiti-search-C input {
  width: 8rem;
  height: 1rem;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  margin-right: -10px;
  border: 2px solid #3190ea;
}

.zmiti-search-C section {
  height: 1rem;
  line-height: 1rem;
}

.zmiti-createimg-C {
  background: rgba(4, 19, 42, 0.9);
  z-index: 1300;
}

.zmiti-createimg-C .zmiti-createimg {
  -webkit-transform-origin: center 20%;
  transform-origin: center 20%;
  position: relative;
  box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.8);
}

.zmiti-createimg-C .zmiti-createimg span {
  position: absolute;
  width: .4rem;
  left: -.5rem;
  top: 0;
  color: #fff;
}

.zmiti-createimg-C .zmiti-wish-btns {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 80%;
  position: absolute;
  left: 10%;
  -webkit-box-pack: justify;
  bottom: 1rem;
}

.zmiti-createimg-C .zmiti-wish-btns div {
  text-align: center;
  z-index: 1020;
  color: #fff;
  width: 3rem;
  height: 1rem;
  line-height: 1rem;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 0.1rem;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(1) {
  background: #3190ea;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(1) img {
  height: .45rem;
  width: auto;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(2) {
  background: #ed8324;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(2) img {
  width: .45rem;
  min-width: 0;
}

.zmiti-createimg-C .zmiti-wish-btns div img {
  margin-right: .3rem;
}
