.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input {
  -webkit-appearance: none;
}

.zmiti-main-ui {
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateY(50vh);
  transform: translateY(50vh);
}

.zmiti-main-ui.active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 102;
  opacity: 1;
}

.zmiti-main-ui .zmiti-next-btn {
  width: 4rem;
  height: 40px;
  line-height: 40px;
  background: #f23426;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1025;
  bottom: 2rem;
  left: 3rem;
  border-radius: 4px;
}

.zmiti-main-ui .zmiti-next-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(242, 52, 38, 0.5);
  left: 0;
  top: 0;
}

#container,
#container1,
#smap {
  width: 100%;
  height: 400px;
}

#container {
  height: 100%;
  z-index: 120;
  position: absolute !important;
  left: 0;
  top: 0;
}

.zmiti-tip {
  z-index: 1213;
  background: rgba(4, 19, 42, 0.9);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}

.zmiti-tip section {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  height: 85vh !important;
  margin-top: 2vh;
  z-index: 12;
}

.zmiti-tip section.active div {
  opacity: 1;
}

.zmiti-tip section.active div:nth-of-type(2n), .zmiti-tip section.active div:nth-of-type(2n+1) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.zmiti-tip section div {
  width: 60%;
  overflow: hidden;
  opacity: 0;
}

.zmiti-tip section div img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.zmiti-tip section div:nth-of-type(2n) {
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.zmiti-tip section div:nth-of-type(2n+1) {
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.zmiti-tip section div:nth-of-type(1) {
  -webkit-transition: 1s 0s;
  transition: 1s 0s;
}

.zmiti-tip section div:nth-of-type(2) {
  -webkit-transition: 1s 0.5s;
  transition: 1s 0.5s;
}

.zmiti-tip section div:nth-of-type(3) {
  -webkit-transition: 1s 1s;
  transition: 1s 1s;
}

.zmiti-tip section div:nth-of-type(4) {
  -webkit-transition: 1s 1.5s;
  transition: 1s 1.5s;
}

.zmiti-tip section div:nth-of-type(5) {
  -webkit-transition: 1s 2s;
  transition: 1s 2s;
}

.zmiti-tip img.info {
  display: block;
  height: 86vh;
  margin-top: -6vh;
  width: auto;
}

.zmiti-tip.active {
  z-index: 3000;
}

.zmiti-tip:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(4, 19, 42, 0.6);
  z-index: 9;
}

.zmiti-tip.tip-enter-active, .zmiti-tip.tip-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-tip.tip-leave-to, .zmiti-tip.tip-enter {
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
}

.zmiti-tip img.info {
  width: 80px;
  height: auto;
  top: auto;
  position: absolute;
  bottom: 11px;
  left: 50%;
  margin-left: -40px;
  -webkit-animation: info 1.2s infinite;
  animation: info 1.2s infinite;
}

.zmiti-tip img {
  position: relative;
  z-index: 10;
}

.zmiti-tip .zmiti-tip-text {
  position: absolute;
  width: 3.2rem;
  left: 3.4rem;
  top: 50%;
  font-size: 0.4rem;
  text-align: center;
  z-index: 10;
}

.zmiti-wish-C {
  width: 9rem;
  position: absolute;
  bottom: 0%;
  left: 0.5rem;
  height: 5rem;
  z-index: 1200;
  background: rgba(4, 19, 42, 0.9);
}

.zmiti-wish-C.form-enter-active, .zmiti-wish-C.form-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-wish-C.form-leave-to, .zmiti-wish-C.form-enter {
  -webkit-transform: translateY(7.8rem);
  transform: translateY(7.8rem);
}

.zmiti-wish-C img {
  width: 1rem;
}

.zmiti-wish-C .zmiti-wish-text {
  color: #fff;
  width: 5rem;
  margin: 0.5rem auto 0;
  font-size: 0.45rem;
  text-align: center;
}

.zmiti-wish-C .zmiti-wish-form-input {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 100%;
}

.zmiti-wish-C .zmiti-input-name {
  width: 3.5rem;
  margin: 1rem 0.5rem;
}

.zmiti-wish-C .zmiti-input-name input {
  height: 0.8rem;
  border-radius: 4px;
  width: 100%;
  padding-left: 0.3rem;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(49, 144, 234, 0.4) inset;
}

.zmiti-wish-C .zmiti-wish-btns {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  margin-top: 0rem;
}

.zmiti-wish-C .zmiti-wish-btns div {
  text-align: center;
  color: #fff;
  width: 4rem;
  height: 1rem;
  line-height: 1rem;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 0.1rem;
  user-select: none;
  -webkit-user-select: none;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(1) {
  background: #ed8324;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(1) img {
  height: 0.45rem;
  width: auto;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(2) {
  background: #ed8324;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(2).active {
  background: #999;
}

.zmiti-wish-C .zmiti-wish-btns div:nth-of-type(2) img {
  width: 0.45rem;
  min-width: 0;
}

.zmiti-wish-C .zmiti-wish-btns div img {
  margin-right: 0.6rem;
}

.zmiti-wish-C .zmiti-wish-btns div img.rotate {
  -webkit-animation: rotate 500ms linear;
  animation: rotate 500ms linear;
}

.zmiti-share-ui {
  z-index: 2001;
  background: rgba(4, 19, 42, 0.9);
}

.zmiti-share-ui.hide {
  left: 1000px;
}

.zmiti-search-C {
  width: 9.1rem;
  height: 1rem;
  background: #fff;
  position: absolute;
  z-index: 1220;
  left: 0.45rem;
  top: 1rem;
}

.zmiti-search-C .zmiti-input-main {
  border: 1px solid #3190ea;
  width: 100%;
  background: transparent;
  overflow: hidden;
  box-sizing: border-box;
}

.zmiti-search-C .zmiti-input-main input {
  border: none;
  background: transparent;
}

.zmiti-search-C.hide {
  z-index: 1000;
}

.zmiti-search-C div {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1rem;
  text-align: center;
  background: #3190ea;
  box-sizing: border-box;
  color: #fff;
  line-height: 1rem;
}

.zmiti-search-C div img {
  width: 0.7rem;
}

.zmiti-search-C input {
  width: 8rem;
  height: 1rem;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  margin-right: -10px;
  border: 2px solid #3190ea;
}

.zmiti-search-C section {
  height: 1rem;
  line-height: 1rem;
}

.zmiti-waiting {
  z-index: 3000;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.zmiti-waiting div {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.zmiti-waiting div img {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
}

.zmiti-waiting div img:nth-of-type(1) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.zmiti-waiting div img:nth-of-type(2) {
  margin-left: -12px;
  margin-top: -58px;
  -webkit-animation: rotate 0.5s linear infinite;
  animation: rotate 0.5s linear infinite;
}

.zmiti-mark-list {
  width: 100vw;
  height: 100vh;
  z-index: 1214;
  overflow: hidden;
}

.zmiti-mark-list ul {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zmiti-mark-list li {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.zmiti-mark-list li .zmiti-mark-user {
  position: absolute;
  width: 7rem;
  bottom: 16vh;
  left: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.zmiti-mark-list li .zmiti-mark-user img {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.zmiti-mark-list li .zmiti-mark-user img.active {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.zmiti-mark-list li img.info {
  width: 80px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -40px;
  -webkit-animation: info 1.2s infinite;
  animation: info 1.2s infinite;
}

@-webkit-keyframes info {
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.zmiti-createimg-C {
  background: rgba(4, 19, 42, 0.9);
  z-index: 1300;
}

.zmiti-createimg-C:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(4, 19, 42, 0.6);
  z-index: 9;
}

.zmiti-createimg-C .zmiti-createimg {
  -webkit-transform-origin: center 20%;
  transform-origin: center 20%;
  position: relative;
  z-index: 10;
  -webkit-transition: 0.3s transform;
  transition: 0.3s transform;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.zmiti-createimg-C .zmiti-createimg.opacity {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0.2;
}

.zmiti-createimg-C .zmiti-createimg.create-enter-active, .zmiti-createimg-C .zmiti-createimg.create-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-createimg-C .zmiti-createimg.create-leave-to, .zmiti-createimg-C .zmiti-createimg.create-enter {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.zmiti-createimg-C .zmiti-createimg span {
  position: absolute;
  width: 0.4rem;
  left: -0.5rem;
  top: 0;
  font-size: 0.4rem;
  color: #fff;
}

.zmiti-createimg-C .zmiti-wish-btns {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 90%;
  z-index: 12;
  position: absolute;
  left: 5%;
  -webkit-box-pack: center;
  bottom: 1rem;
}

.zmiti-createimg-C .zmiti-wish-btns div {
  text-align: center;
  z-index: 1020;
  color: #fff;
  width: 2.5rem;
  height: 1rem;
  font-size: 0.4rem;
  line-height: 1rem;
  margin: 0 0.8rem;
  font-weight: bold;
  border-radius: 0.1rem;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(1) {
  background: #ed8324;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(1) img {
  height: 0.45rem;
  width: auto;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(2) {
  background: #3190ea;
}

.zmiti-createimg-C .zmiti-wish-btns div:nth-of-type(2) img {
  width: 0.45rem;
  min-width: 0;
}

.zmiti-createimg-C .zmiti-wish-btns div img {
  margin-right: 0.3rem;
}

.zmiti-wish-list {
  z-index: 1212;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
}

.zmiti-wish-list.active {
  z-index: 1214;
}

.zmiti-wish-list .zmiti-wish-text {
  width: 7rem;
  margin: 0vh auto 0;
  height: 15vh;
  line-height: 15vh;
}

.zmiti-wish-list ul {
  -webkit-box-flex: 1;
  width: 90%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

.zmiti-wish-list li {
  height: 20vh;
  position: relative;
  border: 3px solid rgba(255, 125, 0, 0);
  box-sizing: border-box;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.zmiti-wish-list li.active {
  border: 3px solid #dd671f;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.zmiti-wish-list li.active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 102;
  box-shadow: 0 0  24px #dd671f;
}

.zmiti-wish-list li img {
  width: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 100%;
}

.zmiti-wish-list .zmiti-wish-btn {
  height: 10vh;
  font-size: 0.5rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.zmiti-wish-list .zmiti-wish-btn div {
  border-radius: 10px;
  line-height: 1rem;
  width: 4rem;
  height: 1rem;
  background: #ed8324;
  color: #fff;
  text-align: center;
}

@media all and (max-height: 1109px) {
  .zmiti-wish-list li {
    height: 22vh;
  }
  .zmiti-wish-list li img {
    width: auto;
    height: 100%;
  }
}
