@import "../css/base.scss";

.zmiti-loading1 {
    z-index: 1200;
	background: #081732;
	
	.zmiti-loading-logo{
		@include pos(a);
		width: 1.6rem;
		bottom: 1rem;
		left: 4.2rem;
	}
}

.zmiti-loading {
    
	@include pos(a);
	top:25%;
	left: 50%;
	@include transform(translateX(-50%));
	div{
		width: 100%;
		color:#fff;
		font-family:Georgia;
		text-align: center;
		font-size:.6rem;
		margin-top: .5rem;

	}
	img{
		width:7rem;
	}
	.zmiti-loading-bar{
		width: 7rem;
		height: .3rem;
		@include br(.5rem);
		border:1px solid #fff;
		@include pos(r);
		overflow: hidden;
		span{
			@include pos(a);
			width: 100%;
			height: 100%;
			@include br(.5rem);
			background: #fff;
			left: 0;;
		}
	}
	
}


  