.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-loading1 {
  z-index: 1200;
  background: #081732;
}

.zmiti-loading1 .zmiti-loading-logo {
  position: absolute;
  width: 1.6rem;
  bottom: 1rem;
  left: 4.2rem;
}

.zmiti-loading {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.zmiti-loading div {
  width: 100%;
  color: #fff;
  font-family: Georgia;
  text-align: center;
  font-size: .6rem;
  margin-top: .5rem;
}

.zmiti-loading img {
  width: 2rem;
}

.zmiti-loading .zmiti-loading-bar {
  width: 7rem;
  height: .3rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}

.zmiti-loading .zmiti-loading-bar span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: #fff;
  left: 0;
}
