@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;
$color:#ca141f;
.zmiti-share-page{
	&>.lt-full{
		@include transformOrigin(center 30%);
		@include transform(scale(.77));
		&:before{
			content:"";
			@include pos(a);
			box-shadow: 0 0  14px #dd671f ;
			width:100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}

.zmiti-share-btn{
	a{
		display: block;
		width: 100%;
		height: 100%;
		color:#fff;
	}
}